#gameHolder{
    width: 1200px;
    height: 800px;
    cursor: default;
    user-select: none;
}

#gameHolder #gameCanvas{
    width: 100%;
    height: 100%;
    margin: auto;
}

#gameHolder .overlayScreen{
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

/* -------------- */
/* Loading Screen */
/* -------------- */

#gameHolder #loadingScreen{
    background-color: black;
}

#gameHolder #loadingTextHolder{
    height: 90%;
    display: flex;
    align-items: center;
}

#gameHolder #loadingText{
    margin: auto;
    color: #a46e2f;
    font-family: sans-serif;
    font-size: 5rem;
}

#gameHolder #gameVersion{
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: #d3d3d3;
    font-family: sans-serif;
}

/* Loading spinner */

#gameHolder  #loadingSpinner {
    display: block!important;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    perspective: 800px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 1.3rem;
}

#gameHolder  #loadingSpinner .inner {
    border-color: #a46e2f;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#gameHolder .inner.one {
    left: 0;
    top: 0;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid;
}

@keyframes rotate-one{
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

#gameHolder .inner.two {
    right: 0;
    top: 0;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid;
}

@keyframes rotate-two{
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

#gameHolder .inner.three {
    right: 0;
    bottom: 0;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid;
}

@keyframes rotate-three{
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

/* ----------- */
/* Menu Screen */
/* ----------- */

/* Menu Text Slide */

#gameHolder #menuTextSlide{
    position: relative;
    transform: translateZ(0); /* Chrome overflow fix */
    overflow: hidden;
}

#gameHolder #menuTextSlide div{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 11rem;
    transform: rotate(-90deg);
    animation: slideOver 12s linear infinite;
    position: absolute;
    left: 0;
    right: 0;
}

@keyframes slideOver{
    0%{
        bottom: 150%;
    }
    100%{
        bottom: -150%
    }
}

#gameHolder #menuScreen{
    background-color: #000000;
}

#gameHolder .menuContainer{
    width: calc(100% / 3);
    height: 100%;
    float: left;
}

/* Menu Theme */

#gameHolder #menuTheme{
    width: 100%;    
    height: 55%;
    position: relative;
}

#gameHolder #menuThemeText{
    width: 100%;
    height: 20%;
    display: flex;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 2rem;
}

#gameHolder #menuThemeText span{
    margin: auto;
}

/* Menu Theme Selector */

#gameHolder #menuThemeSelector{
    width: 100%;
    height: 80%;
    position: relative;
}

#gameHolder #menuThemeSelector div[id^="Theme"]{
    position: relative;
    float: left;
}

#gameHolder #ThemePrevious{
    width: 20%;
    height: 80%;
}

#gameHolder #ThemeCurrent{
    width: 60%;
    height: 80%;
}

#gameHolder #ThemeNext{
    width: 20%;
    height: 80%;
}

#gameHolder #ThemeName{
    width: 100%;
    height: 20%;
    display: flex;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
}

#gameHolder #ThemeName span{
    margin: auto;
}

/* Menu Buttons */

#gameHolder #menuButtons{
    width: 100%;    
    height: 45%;
}

#gameHolder .menuButton{
    width: 75%;
    height: 17%;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    border: 1px solid #a46e2f;
    color: #ffffff;
    user-select: none;
}

#gameHolder .menuButton span{
    font-family: sans-serif;
    font-size: 2rem;
    margin: auto;
}

/* Menu Score */

#gameHolder #menuScoreText{
    width: 100%;
    display: flex;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 2rem;
}

#gameHolder #menuScoreText span{
    margin: auto;
}

#gameHolder #menuScoreScores{
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1.2rem;
    padding-left: 1.5rem;
    overflow-y: auto;
}

#gameHolder .singleScore span{
    float: left;
    margin-top: .2rem;
}

#gameHolder .singleScore span:nth-child(1){
    width: 10%;
}

#gameHolder .singleScore span:nth-child(2){
    width: 60%;
}

#gameHolder .singleScore span:nth-child(3){
    width: 30%;
}














.modal{
    display:none;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:auto;
    margin: auto auto;
    background-color:#ffffff;
    background-color:rgba(0,0,0,0.4);
    align-content:center;
    padding-top:120px;
}

.modal-box {
    margin: auto;
    width: 30%;
    border: 1px solid #888888;
    background-color: #fefefe;
}

.modal-content {
    text-align: center !important;
    outline:0;
    padding:10px 20px;
    overflow:auto;
}

.modal-shadow {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.modalCloseBtn {
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}


.modalInput {
    padding: 8px;
    display: block;
    border: 1px solid #ccc!important;
    width: 100%;
    margin-bottom:16px!important;
}

form label {
    float:left;
    font-weight:bold;
}

form label::after {
    float:none
}

.modalZoomIn {
    animation: animatezoom 0.6s;
}

    @keyframes animatezoom {
        from {
            transform: scale(0);
        }

        to {
            transform: scale(1);
        }
    }

.modalCloseBtn:hover,
.modalCloseBtn:focus {
    color:#000000;
    text-decoration:none;
    cursor:pointer;
}

.modalBtn
{
    display:inline-block;
    width: 25%;
    align-content:center;
    border:none;
    padding:10px auto;
    font-weight:bold;
    font-size:18px!important;
}