#gameHolder{
    width: 1200px;
    height: 800px;
}

#gameHolder #gameCanvas{
    max-width: inherit;
    max-height: inherit;
    margin: auto;
}

#gameHolder .overlayScreen{
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

/* -------------- */
/* Loading Screen */
/* -------------- */

#gameHolder #loadingScreen{
    background-color: black;
}

#gameHolder #loadingTextHolder{
    height: 90%;
    display: flex;
    align-items: center;
}

#gameHolder #loadingText{
    margin: auto;
    color: blue;
    font-family: sans-serif;
    font-size: 5rem;
}

#gameHolder #gameVersion{
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: #d3d3d3;
    font-family: sans-serif;
    margin: .5rem
}

/* Loading spinner */

#gameHolder  #loadingSpinner {
    display: block!important;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    perspective: 800px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 1.3rem;
}

#gameHolder  #loadingSpinner .inner {
    border-color: #FC8F12;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#gameHolder .inner.one {
    left: 0;
    top: 0;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid;
}

@keyframes rotate-one{
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

#gameHolder .inner.two {
    right: 0;
    top: 0;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid;
}

@keyframes rotate-two{
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

#gameHolder .inner.three {
    right: 0;
    bottom: 0;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid;
}

@keyframes rotate-three{
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

/* ----------- */
/* Menu Screen */
/* ----------- */

#gameHolder #menuScreen{
    background-color: #000000;
}

#gameHolder #menuText{
    width: 100%;
    height: 20%;
    float: left;
}

#gameHolder .menuContainer{
    width: calc(100% / 3);
    height: 80%;
    float: left;
}

/* Menu Score */

#gameHolder #menuScoreText{
    width: 100%;
    height: 10%;
    display: flex;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 2rem;
}

#gameHolder #menuScoreText span{
    margin: auto;
}

#gameHolder #menuScoreScores{
    width: 100%;
    height: 80%;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1.2rem;
    padding-left: 1.5rem;
    overflow-y: auto;
}

#gameHolder .singleScore span{
    float: left;
    margin-top: .2rem;
}

#gameHolder .singleScore span:nth-child(1){
    width: 10%;
}

#gameHolder .singleScore span:nth-child(2){
    width: 60%;
}

#gameHolder .singleScore span:nth-child(3){
    width: 30%;
}

/* Menu Buttons */

#gameHolder .menuButton{
    width: 75%;
    height: 10%;
    margin: auto;
    margin-top: 10%;
    background: green;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
}

#gameHolder .menuButton span{
    font-family: sans-serif;
    font-size: 2rem;
    margin: auto;
}