#gameCanvas{
    max-width: inherit;
    max-height: inherit;
    margin: auto;
}

#gameHolder{
    width: 1200px;
    height: 800px;
}

.overlayScreen{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
/* -------------- */
/* Loading Screen */
/* -------------- */

#loadingScreen{
    background-color: black;
    position: relative
}

#loadingTextHolder{
    height: 90%;
    display: flex;
    align-items: center;
}

#loadingText{
    margin: auto;
    color: blue;
    font-family: sans-serif;
    font-size: 5rem;
}

#gameVersion{
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: #d3d3d3;
    font-family: sans-serif;
    margin: .5rem
}
/* Loading spinner */

#loadingSpinner {
    display: block!important;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    perspective: 800px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 1.3rem;
}

#loadingSpinner .inner {
    border-color: #FC8F12;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.inner.one {
    left: 0;
    top: 0;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid;
}

@keyframes rotate-one{
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

.inner.two {
    right: 0;
    top: 0;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid;
}

@keyframes rotate-two{
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

.inner.three {
    right: 0;
    bottom: 0;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid;
}

@keyframes rotate-three{
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

/* ----------- */
/* Menu Screen */
/* ----------- */

#menuScreen{
    background-color: blue;
}